@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --success-color:rgb(0, 128, 0);
    --warning-color:rgb(255, 165, 0);
    --error-color:rgb(255, 0, 0); 
    --success-light: rgba(0,128,0,0.4);
    --warning-light: rgba(255, 165, 0,0.4);
    --error-light: rgba(255, 0, 0,0.4);
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1
}

.controls button{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}

.success {
    background: var(--success-color);
}

.warning {
    background: var(--warning-color);
}

.error {
    background: var(--error-color);
}

#toasts{
    position: fixed;
    top: 10px;
    right: 10px;
}

.toast {
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size:16px;
    overflow: hidden;
    animation: slide_show 2s ease;
    margin-bottom: 10px;
}

.toast.success {
    background-color: var(--success-light);
    border-left: 5px solid var(--success-color);
}

.toast.warning {
    background-color: var(--warning-light);
    border-left: 5px solid var(--warning-color);
}

.toast.error {
    background-color: var(--error-light);
    border-left: 5px solid var(--error-color);
}

.toast i {
    font-size: 20px;
    margin-right: 10px;
}

.toast .countdown {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: countdown 2s ease forwards;
}

.toast.success .countdown {
    border-bottom: 3px solid var(--success-color);
}
.toast.warning .countdown {
    border-bottom: 3px solid var(--warning-color);
}
.toast.error .countdown {
    border-bottom: 3px solid var(--error-color);
}


@keyframes countdown {
    0% {
        width: 100%;
    }   
    100% {
        width: 0;
    }
}

@keyframes slide_show {
    0% {transform: translateX(100%);}

    30%{transform: translateX(-10%);}

    60%{transform: translateX(8px);}

    100%
    {   
        transform: translateX(0%);
    }
}

@keyframes slide_hide {
    0% {transform: translateX(0%);}

    40%{transform: translateX(-10%);}

    100%{transform: translateX(200%);}
}